<% provide(:title, 'All Movies') %>
<h1>All Movies</h1>

<%= will_paginate %>

<ul class="users">
  <% @movies.each do |movie| %>
    <li class="list-group-item">
    <div class="list">
    <div class="left">
     <%= image_tag movie.photo.url(:small) %>
     </div>
     <div class="right">
     <div class="text"> <%= link_to movie.name, movie %></div>
     <div class="text"> Review: <%= movie.reviews.count %></div>

       <%  signed_in? && if current_user.admin?%>
  <div class="text"> <%= link_to "delete", movie, method: :delete,
                                  data: { confirm: "You sure?" } %></div>
  <% end %>
  </div>
  </div>
    </li>
  <% end %>
</ul>

<%= will_paginate %>