<% provide(:title, @movie.name) %>
<div class="row">
  <div class="span6 offset3">
    
      
        <%= gravatar1_for @movie %>
        Name: <%= @movie.name %>

      <br/>
       Director: <%= @movie.director %>
       <br/>
       Writers: <%= @movie.writers %>
       <br/>
       Stars: <%= @movie.stars %><br/>
       Description: <%= @movie.content %><br/>

    
  </div>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@new_review) do |f| %>
	  <div class="field">
	    <%= f.text_area :comment, placeholder: "Compose new micropost..." %>
	    <%= f.hidden_field :movie_id %>
	  </div>
    <%= f.submit "Post", class: "btn btn-large btn-primary" %>
  <% end %>

  </div>
  <div class="span8">
    <% if @movie.reviews.any? %>
      <h3>Reviews(<%= @movie.reviews.count %>)</h3>
      <ol class="microposts">
        <%= render @reviews %>
      </ol>
      <%= will_paginate @reviews %>
    <% end %>
  </div>
</div>



