<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %></br>
        Total Review: <%= @user.reviews.count %>
      </h1>
    </section>
  </aside>
  <span>
  <div class="span8">
    <% if @user.reviews.any? %>
      <h3>Reviews(<%= @user.reviews.count %>)</h3>
      <ol class="microposts">
        <%= render partial: 'shared/user_review', collection: @reviews, :as => :review %>
      </ol>
      <%= will_paginate @reviews %>
    <% end %>
  </div>



</span>
</div>