

<%= will_paginate @movies %>

<ul class="users">
  <% @movies.each do |movie| %>
    <li>
      <%= gravatar1_for movie, size: 52 %>
     Name:  <%= link_to movie.name, movie %>

      Director: <%= movie.director %>
       Review: <%= movie.reviews.count %>
      <% if signed_in? %>
     <%= link_to " Add Review", movie %>
    </li>
    <% end %>
  <% end %>
  <%= will_paginate @movies %>
</ul>
